import React from 'react';

export type {{pascalCase name}}Type = {};

const {{pascalCase name}} = ({}: {{pascalCase name}}Type) => <div>{{pascalCase name}}</div>;

export default {{pascalCase name}};